@layout AppShell
@page "/cards"
@inherits CardBrowserBase

<div class="card-browser">
    <div class="w-full mb-1" flex="row nowrap">
        <button tooltip="Switch layout" class="button -text -grey -icon-only -tall -rounded mr-0.5" @onclick="CycleView">
            <i class="icon">
                @switch (Layout)
                {
                    case LayoutType.List:
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                        </svg>
                        break;
                    default:
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                        </svg>
                        break;
                }
            </i>
        </button>
        <div class="input w-full" style="flex: 1;">
            <input type="search" @bind="@Search" @oninput="DebounceSearch" placeholder="Search cards...">
        </div>
    </div>
    <div class="card-grid" layout="@Layout.ToString()">
        @if(IsLoading){
           @for (int i = 0; i < 10; i++){
                @switch (Layout)
                {
                    case LayoutType.List:
                        <div class="w-full bg-white relative border-1 border-solid border-grey-400 radius-0.5 p-0.5" flex="row nowrap">
                            <div class="ar-12:17 mr-0.5" style="width:250px">
                                <div class="skeleton w-full h-full radius-0.5"></div>
                            </div>
                            <div class="w-full" style="flex: 1;">
                                <div class="mb-0.5 skeleton w-full -heading"></div>
                                <div class="mb-0.5 skeleton w-full -copy"></div>
                                <div class="mb-0.5 skeleton w-full -copy"></div>
                                <div class="skeleton w-3/4 -copy"></div>
                            </div>
                        </div>
                        break;
                    case LayoutType.Card:
                        <div class="w-full bg-white relative border-1 border-solid border-grey-400 radius-0.5 ar-12:17">
                            <div class="t-0 l-0 absolute w-full h-full p-0.5">
                                <div class="skeleton w-full h-full radius-0.5"></div>
                            </div>
                        </div>
                        break;
                }
            }
        } else {
            for (int i = 0; i < Cards.Count; i++){
                @switch (Layout)
                {
                    case LayoutType.List:
                        var Card = Cards[i];
                        string Subtypes = "";
                        for (int t = 0; t < Card.Subtypes.Length; t++){
                            Subtypes += Card.Subtypes[t] + " ";
                        }
                        <div class="card radius-0.5 border-1 border-solid border-grey-300 p-1">
                            <div class="inline-block relative ar-12:17 bg-grey-100 radius-0.5 shim" style="width:250px;">
                                <i class="spinning-icon font-grey-700">
                                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <g class="fa-group">
                                            <path class="fa-secondary" fill="currentColor"
                                                d="M478.71 364.58zm-22 6.11l-27.83-15.9a15.92 15.92 0 0 1-6.94-19.2A184 184 0 1 1 256 72c5.89 0 11.71.29 17.46.83-.74-.07-1.48-.15-2.23-.21-8.49-.69-15.23-7.31-15.23-15.83v-32a16 16 0 0 1 15.34-16C266.24 8.46 261.18 8 256 8 119 8 8 119 8 256s111 248 248 248c98 0 182.42-56.95 222.71-139.42-4.13 7.86-14.23 10.55-22 6.11z"
                                                opacity="0.4"></path>
                                            <path class="fa-primary" fill="currentColor"
                                                d="M271.23 72.62c-8.49-.69-15.23-7.31-15.23-15.83V24.73c0-9.11 7.67-16.78 16.77-16.17C401.92 17.18 504 124.67 504 256a246 246 0 0 1-25 108.24c-4 8.17-14.37 11-22.26 6.45l-27.84-15.9c-7.41-4.23-9.83-13.35-6.2-21.07A182.53 182.53 0 0 0 440 256c0-96.49-74.27-175.63-168.77-183.38z">
                                            </path>
                                        </g>
                                    </svg>
                                </i>
                                <img class="radius-0.5 card-image" draggable="false" src="http://api.divinedrop.local/v1/image/@Cards[i].Front" alt="@Cards[i].Name" width="480" loading="lazy" style="opacity: 0;" onload="this.style.opacity = '1';">
                            </div>
                            <div class="w-full" style="flex: 1;">
                                <h2 class="block mb-0.25 line-normal font-grey-800 font-bold font-lg">@Card.Name</h2>
                                <h3 class="block mb-0.5 line-normal font-grey-800 font-sm font-bold">@Card.Type @(String.IsNullOrEmpty(Subtypes) ? "" : "- " + Subtypes)</h3>
                                <card-text class="block w-full line-normal font-grey-700 font-sm">@Card.Text</card-text>
                            </div>
                        </div>
                        break;
                    case LayoutType.Card:
                        <div class="inline-block w-full ar-12:17 card">
                            <i class="spinning-icon font-grey-700">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                    <g class="fa-group">
                                        <path class="fa-secondary" fill="currentColor"
                                            d="M478.71 364.58zm-22 6.11l-27.83-15.9a15.92 15.92 0 0 1-6.94-19.2A184 184 0 1 1 256 72c5.89 0 11.71.29 17.46.83-.74-.07-1.48-.15-2.23-.21-8.49-.69-15.23-7.31-15.23-15.83v-32a16 16 0 0 1 15.34-16C266.24 8.46 261.18 8 256 8 119 8 8 119 8 256s111 248 248 248c98 0 182.42-56.95 222.71-139.42-4.13 7.86-14.23 10.55-22 6.11z"
                                            opacity="0.4"></path>
                                        <path class="fa-primary" fill="currentColor"
                                            d="M271.23 72.62c-8.49-.69-15.23-7.31-15.23-15.83V24.73c0-9.11 7.67-16.78 16.77-16.17C401.92 17.18 504 124.67 504 256a246 246 0 0 1-25 108.24c-4 8.17-14.37 11-22.26 6.45l-27.84-15.9c-7.41-4.23-9.83-13.35-6.2-21.07A182.53 182.53 0 0 0 440 256c0-96.49-74.27-175.63-168.77-183.38z">
                                        </path>
                                    </g>
                                </svg>
                            </i>
                            <img draggable="false" src="http://api.divinedrop.local/v1/image/@Cards[i].Front" alt="@Cards[i].Name" width="480" loading="lazy" style="opacity: 0;" onload="this.style.opacity = '1';">
                        </div>
                        break;
                }
            }
        }
    </div>
</div>