@layout AppShell
@page "/cards"
@inherits CardBrowserBase
@using Client.Models.Globals

<div class="card-browser">
    <div class="w-full my-1" flex="row nowrap">
        <button tooltip="Switch layout" class="button -text -grey -icon-only -tall -round mr-0.25" @onclick="CycleView">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                </svg>
            </i>
        </button>
        <button class="button -grey -text -icon-only -tall -round mr-0.5 sort-bttn" tooltip="Sort results" aria-label="open sort menu">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                </svg>
            </i>
        </button>
        <card-sort-menu>
            <div class="radio">
                <input type="radio"  name="card-sort" id="alphabetical" tabindex="0" value="abc" checked @onchange="UpdateSort" />
                <label tabindex="0" for="alphabetical">
                    <i></i>
                    <span>Alphabetical</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="mana-low" tabindex="0" value="mana-low" @onchange="UpdateSort" />
                <label tabindex="0" for="mana-low">
                    <i></i>
                    <span>Mana Cost (Low to High)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="mana-high" tabindex="0" value="mana-high" @onchange="UpdateSort" />
                <label tabindex="0" for="mana-high">
                    <i></i>
                    <span>Mana Cost (High to Low)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="power-low" tabindex="0" value="power-low" @onchange="UpdateSort" />
                <label tabindex="0" for="power-low">
                    <i></i>
                    <span>Power (Low to High)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="power-high" tabindex="0" value="power-high" @onchange="UpdateSort" />
                <label tabindex="0" for="power-high">
                    <i></i>
                    <span>Power (High to Low)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="toughness-low" tabindex="0" value="toughness-low" @onchange="UpdateSort" />
                <label tabindex="0" for="toughness-low">
                    <i></i>
                    <span>Toughness (Low to High)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio"  name="card-sort" id="toughness-high" tabindex="0" value="toughness-high" @onchange="UpdateSort" />
                <label tabindex="0" for="toughness-high">
                    <i></i>
                    <span>Toughness (High to Low)</span>
                </label>
            </div>
        </card-sort-menu>
        <div class="input w-full" style="flex: 1;">
            <input type="search" @bind-value="Search" @bind-value:event="oninput" @onkeyup="DebounceSearch" placeholder="Search cards...">
        </div>
        <button class="button -text -grey -rounded ml-0.5 -tall pr-1 pl-0.75 filter-bttn">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
            </i>
            Filters
        </button>
        <card-filter-menu tabindex="0">
            <div class="color-checkboxes mb-1.5">
                <div>
                    <input type="checkbox" id="black" value="B" @onchange="@(e => UpdateColorFilter("B", (bool)e.Value))">
                    <label for="black" tabindex="0" aria-label="filter cards by black mana" tooltip="Black mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/B.svg" alt="Black mana symbol" title="Black mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="red" value="R" @onchange="@(e => UpdateColorFilter("R", (bool)e.Value))">
                    <label for="red" tabindex="0" aria-label="filter cards by red mana" tooltip="Red mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/R.svg" alt="Red mana symbol" title="Red mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="green" value="G" @onchange="@(e => UpdateColorFilter("G", (bool)e.Value))">
                    <label for="green" tabindex="0" aria-label="filter cards by green mana" tooltip="Green mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/G.svg" alt="Green mana symbol" title="Green mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="blue" value="U" @onchange="@(e => UpdateColorFilter("U", (bool)e.Value))">
                    <label for="blue" tabindex="0" aria-label="filter cards by blue mana" tooltip="Blue mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/U.svg" alt="Blue mana symbol" title="Blue mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="white" value="W" @onchange="@(e => UpdateColorFilter("W", (bool)e.Value))">
                    <label for="white" tabindex="0" aria-label="filter cards by white mana" tooltip="White mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/W.svg" alt="White mana symbol" title="White mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="colorless" value="C" @onchange="@(e => UpdateColorFilter("C", (bool)e.Value))">
                    <label for="colorless" tabindex="0" aria-label="filter cards by colorless mana" tooltip="Colorless mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/C.svg" alt="Colorless mana symbol" title="Colorless mana">
                        </i>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="snow" value="S" @onchange="@(e => UpdateColorFilter("S", (bool)e.Value))">
                    <label for="snow" tabindex="0" aria-label="filter cards by snow mana" tooltip="Snow mana">
                        <i>
                            <img loading="lazy" src="/images/symbols/S.svg" alt="Snow mana symbol" title="Snow mana">
                        </i>
                    </label>
                </div>
            </div>
            <div class="w-full" grid="columns 2 gap-1">
                <div class="select">
                    <label for="type">Type</label>
                    <select id="type" @onchange="UpdateTypeFilter">
                        <option selected value="">Any</option>
                        @for (int i = 0; i < Types.Length; i++){
                            <option value="@Types[i]">@Types[i]</option>
                        }
                    </select>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </i>
                </div>
                <div class="select">
                    <label for="type">Subtype</label>
                    <select id="type" @onchange="UpdateSubtypeFilter">
                        <option selected value="">Any</option>
                        @for (int i = 0; i < Subtypes.Length; i++){
                            <option value="@Subtypes[i]">@Subtypes[i]</option>
                        }
                    </select>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </i>
                </div>
                <div class="select">
                    <label for="type">Keywords</label>
                    <select id="type" @onchange="UpdateKeywordFilter">
                        <option selected value="">Any</option>
                        @for (int i = 0; i < Keywords.Length; i++){
                            <option value="@Keywords[i]">@Keywords[i]</option>
                        }
                    </select>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </i>
                </div>
                <div class="select">
                    <label for="type">Rarity</label>
                    <select id="type" @onchange="UpdateRarityFilter">
                        <option selected value="">Any</option>
                        @for (int i = 0; i < Rarities.Length; i++){
                            <option value="@Rarities[i].ToLower()">@Rarities[i]</option>
                        }
                    </select>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </i>
                </div>
            </div>
        </card-filter-menu>
    </div>
    <div class="card-grid" layout="@Layout.ToString()">
        @if(IsLoading){
           @for (int i = 0; i < 36; i++){
                @switch (Layout)
                {
                    case LayoutType.List:
                        <div class="w-full bg-white relative border-1 border-solid border-grey-400 radius-0.5 p-0.5" flex="row nowrap">
                            <div class="ar-12:17 mr-0.5" style="width:200px;">
                                <div class="skeleton w-full h-full radius-0.5"></div>
                            </div>
                            <div class="w-full" style="flex: 1;">
                                <div class="mb-0.5 skeleton w-full -heading"></div>
                                <div class="mb-0.5 skeleton w-full -copy"></div>
                                <div class="mb-0.5 skeleton w-full -copy"></div>
                                <div class="skeleton w-3/4 -copy"></div>
                            </div>
                        </div>
                        break;
                    case LayoutType.Card:
                        <div class="w-full bg-white relative border-1 border-solid border-grey-400 radius-0.5 ar-12:17">
                            <div class="t-0 l-0 absolute w-full h-full p-0.5">
                                <div class="skeleton w-full h-full radius-0.5"></div>
                            </div>
                        </div>
                        break;
                }
            }
        } else {
            for (int i = 0; i < Cards.Count; i++){
                @switch (Layout)
                {
                    case LayoutType.List:
                        var Card = Cards[i];
                        string Subtypes = "";
                        for (int t = 0; t < Card.Subtypes.Length; t++){
                            Subtypes += Card.Subtypes[t] + " ";
                        }
                        <div class="card radius-0.5 border-1 border-solid border-grey-400 p-1 shadow-sm">
                            <div class="inline-block relative ar-12:17 bg-grey-100 shim" style="width:250px;">
                                <i class="spinning-icon font-grey-700">
                                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <g class="fa-group">
                                            <path class="fa-secondary" fill="currentColor"
                                                d="M478.71 364.58zm-22 6.11l-27.83-15.9a15.92 15.92 0 0 1-6.94-19.2A184 184 0 1 1 256 72c5.89 0 11.71.29 17.46.83-.74-.07-1.48-.15-2.23-.21-8.49-.69-15.23-7.31-15.23-15.83v-32a16 16 0 0 1 15.34-16C266.24 8.46 261.18 8 256 8 119 8 8 119 8 256s111 248 248 248c98 0 182.42-56.95 222.71-139.42-4.13 7.86-14.23 10.55-22 6.11z"
                                                opacity="0.4"></path>
                                            <path class="fa-primary" fill="currentColor"
                                                d="M271.23 72.62c-8.49-.69-15.23-7.31-15.23-15.83V24.73c0-9.11 7.67-16.78 16.77-16.17C401.92 17.18 504 124.67 504 256a246 246 0 0 1-25 108.24c-4 8.17-14.37 11-22.26 6.45l-27.84-15.9c-7.41-4.23-9.83-13.35-6.2-21.07A182.53 182.53 0 0 0 440 256c0-96.49-74.27-175.63-168.77-183.38z">
                                            </path>
                                        </g>
                                    </svg>
                                </i>
                                <img crossorigin="use-credentials" class="card-image shadow-sm" draggable="false" src="@AppSettings.API/v1/image/card/@Cards[i].UID" alt="@Cards[i].Name" width="480" loading="lazy" style="opacity: 0;transition:opacity 150ms var(--ease-in-out);" onload="this.style.opacity = '1';">
                            </div>
                            <div class="w-full" style="flex: 1;">
                                <h2 class="mb-0.25 line-normal font-grey-800 font-bold font-lg w-full" flex="items-center row wrap">
                                    @Card.Name 
                                    @if(Card.ManaCosts.Length > 0){
                                        <span card-text="raw" class="inline-block ml-0.5 pb-0.25">@Card.ManaCosts[0]</span>
                                    }
                                </h2>
                                <h3 class="block line-normal font-grey-800 font-sm font-bold">@Card.Type @(String.IsNullOrEmpty(Subtypes) ? "" : "- " + Subtypes)</h3>
                                @if (Card.Vitality.Length > 0){
                                    <p class="block w-full line-normal mt-0.5 font-grey-800 font-sm">
                                        <span class="font-bold">Power:</span> @Card.Vitality[0].Power
                                    </p>
                                    <p class="block w-full line-normal mt-0.5 font-grey-800 font-sm">
                                        <span class="font-bold">Toughness:</span> @Card.Vitality[0].Toughness
                                    </p>
                                }
                                @if(!String.IsNullOrEmpty(Card.Text)){
                                    <p card-text="raw" class="block w-full line-normal font-grey-700 font-sm mt-0.5">@Card.Text</p>
                                }
                                @if(!String.IsNullOrEmpty(Card.FlavorText)){
                                    <p class="block w-full line-normal mt-0.5 font-grey-700 font-sm font-style-italic">@Card.FlavorText</p>
                                }
                            </div>
                        </div>
                        break;
                    case LayoutType.Card:
                        <div class="inline-block w-full ar-12:17 card">
                            <i class="spinning-icon font-grey-700">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                    <g class="fa-group">
                                        <path class="fa-secondary" fill="currentColor"
                                            d="M478.71 364.58zm-22 6.11l-27.83-15.9a15.92 15.92 0 0 1-6.94-19.2A184 184 0 1 1 256 72c5.89 0 11.71.29 17.46.83-.74-.07-1.48-.15-2.23-.21-8.49-.69-15.23-7.31-15.23-15.83v-32a16 16 0 0 1 15.34-16C266.24 8.46 261.18 8 256 8 119 8 8 119 8 256s111 248 248 248c98 0 182.42-56.95 222.71-139.42-4.13 7.86-14.23 10.55-22 6.11z"
                                            opacity="0.4"></path>
                                        <path class="fa-primary" fill="currentColor"
                                            d="M271.23 72.62c-8.49-.69-15.23-7.31-15.23-15.83V24.73c0-9.11 7.67-16.78 16.77-16.17C401.92 17.18 504 124.67 504 256a246 246 0 0 1-25 108.24c-4 8.17-14.37 11-22.26 6.45l-27.84-15.9c-7.41-4.23-9.83-13.35-6.2-21.07A182.53 182.53 0 0 0 440 256c0-96.49-74.27-175.63-168.77-183.38z">
                                        </path>
                                    </g>
                                </svg>
                            </i>
                            <img crossorigin="use-credentials" draggable="false" src="@AppSettings.API/v1/image/card/@Cards[i].UID" alt="@Cards[i].Name" width="480" loading="lazy" style="opacity: 0;transition:opacity 150ms var(--ease-in-out);" onload="this.style.opacity = '1';">
                        </div>
                        break;
                }
            }
        }
    </div>
    @if(!IsLoading && TotalPages > 1){
        <div class="w-full py-2" flex="items-center justify-center">
            <button @onclick="Back" class="button -solid -primary -rounded mx-0.5 pl-0.75 pr-1" disabled="@(Page == 1)">
                <i class="icon mr-0.25">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg>
                </i>
                Back
            </button>
            <button @onclick="Next" class="button -solid -primary -rounded mx-0.5 pr-0.75 pl-1" disabled="@(Page == TotalPages)">
                Next
                <i class="icon ml-0.25 mr-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </i>
            </button>
        </div>
    }
    @if(Cards.Count == 0){
        <p class="block text-center font-lg font-grey-700 font-lg font-medium py-6">No cards matched your settings. Try adjusting the filters.</p>
    }
</div>